a {
  text-decoration: none;
}

.vl{
  border-left: 3px solid white;
  height: 950px;
  overflow: auto;
}

.content{
  display: block;
}

.blogLink:hover{

  color: rgb(129, 128, 122);

}

.profileSide{
  display: flex;
  justify-content: center;
  justify-items: center;
}

.box{
  background-color: white;
  border: none;
  color: black;
  padding: 5px 8px;
  width: 370px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 4px;
  cursor: pointer;
}

.blogButton{
  background-color: #1BE1F2;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  
}

.blogButton:hover{
  background-color: #06608a;
}

.blogButtonSelected{
  background-color: #06608a;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}

.searchbar{
  background-color: #ffffff;
  border: none;
  color: rgb(122, 118, 118);
  padding: 5px 32px;
  width: 70%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 15%;

}

